body {
    font-family: Arial, sans-serif;
    background-color: #e0e7ff;
    color: #1e293b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-box {
    background-color: #0b1c2d;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #e0e7ff;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}

.error {
    color: #f87171;
    margin-top: 10px;
}

.success {
    color: #60a5fa;
    margin-top: 10px;
}

a {
    color: #93c5fd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #7db6f8;
}

.compte {
    color: #ffffff;
}